@font-face {

}

body{
	background: url("../img/background.png");
	background-repeat: round;
}

.wrapper{
	background: url("../img/background-copy.png");
	width: 1215px;
	height: 1028px;
	margin: 0 auto;
	margin-top: -15px;
}

.nav-bar{
	background-color: #074986;
	width: 1215px;
	height: 28px;
}

.nav-bar li{
	float: right;
	color: #fff;
	list-style: none;
	margin: 0 20px 0 0 ;
}

.container{
	width: 560px;
	height: 613px;
	background-color: rgba(65, 65, 60, 0.63);
	margin: 0 auto;
	margin-top: 250px;
}

.head{
	color: #fff;
	text-align: center;
	border-bottom: 2px solid #fff;
}

.centered{
	width: 276px;
	height: 35px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.centered input, button{
	width: 276px;
	height: 35px;

}

.check{
	height: 14px;
	margin-top: 5px;
}

.check input{
	width: 20px
}

.check label{
	width: 214px;
	height: 14px;
	color: #ccc;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.agreement{
	width: 309px;
}